/*convert this css to RWD and replace table in html with div*/
.col-1 {width: 8.33%}
.col-2 {width: 16.66%}
.col-3 {width: 25%}
.col-4 {width: 33.33%}
.col-5 {width: 41.66%}
.col-6 {width: 50%}
.col-7 {width: 58.33%}
.col-8 {width: 66.66%}
.col-9 {width: 75%}
.col-10 {width: 83.33%}
.col-11 {width: 91.66%}
.col-12 {width: 100%}

[class*="col-"] {
  float: left;
  padding: 5px;
}

.text-center {
  text-align: center;
}

.table {
  width: inherit;
}

.last-element {
  float: right;
}

body {
  background-color: #f0f1f0;
  font-size: 1rem;
  margin: 0;
}

.scrollit {
  overflow-y: scroll;
  max-height: 210px;
}

#cvs {
  float: right;
  margin-bottom: -100%;
  margin-right: 15px;
}

.container {
  width: 450px;
}

h1 {
  width: 100%;
  background-color: #075E54;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 16px;
  margin: 0;
}

.text {
  background-color: #e6e6e6;
}

.table {
  border: none;
  border-collapse: collapse;
  width: 100%;
}
.table td, .table th {
  border: none;
  padding: 0.75rem 1rem;
  vertical-align: top;
}
.table-bordered td, .table-bordered th {
  border: none;
  border-bottom: 1px solid #e6e6e6;
}
.table-bordered tbody > tr:last-child > td {
  border-bottom: none;
}


.text, button,#resetBtn {
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  padding: 0.5rem 1rem;
  border-radius: 16px;
  border: none;
  box-shadow: none;
  outline: none;
}
button {
  background-color: #25D366;
  color: #fff;
  margin-left: 0.5rem;
}
button:hover {
  background-color: #128C7E;
  cursor: pointer;
}
input[type="checkbox"] {
  margin-right: 0.5rem;
}


ol {
  padding-left: 0.5;
}
li {
  margin: 0.5rem 0;
  font-size: 16px;
  line-height: 1.5;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #dcf8c6;
  border: 1px solid #34b7f1;
  border-radius: 20px;
  color: #333;
  font-size: 16px;
  padding: 10px 20px;
  position: relative;
  width: fit-content;
  max-width: 125px;
}

select:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #dcf8c6;
  transform: translateY(-50%);
}

.last-element {
	float: right;
}

a {
  text-decoration: none;
  color: #34b7f1;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

.text-area {
	height: 40px;
	width: 250px;
}

.hovertext {
  position: relative;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 1;
  left: -140px;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}

#resetBtn {
  background-color: #D32592;
  color: #fff;
  margin-left: 0.5rem;
  text-align: center;
}
#resetBtn:hover {
  background-color: #8C1220;
  cursor: pointer;
}

.popup {
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0 0;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  margin-left: 0;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}